@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-900: #0c4a6e;
  
  --color-secondary-500: #8b5cf6;
  --color-secondary-600: #7c3aed;
  
  --color-accent-400: #fbbf24;
  --color-accent-500: #f59e0b;

   @variant dark {
    --color-gray-900: #f9fafb;
    --color-gray-800: #f3f4f6;
    --color-gray-50: #111827;
  }
}
